#pagelayout {
	width: 90%;
	border: 1px solid black;
	-moz-border-radius: 15px; /* mozilla */
	border-radius: 15px; /* css 3 */
	margin-left:auto;
    margin-right:auto;
}

#pagelayout tr td {
	width: 30%;
	vertical-align: top;
}

h3 {
	text-decoration:underline;
	font-style: italic;
}

#message{
	width: 90%;
	margin-left:auto;
    margin-right:auto;
}

#helpbtn{
	margin-left: 5%;
}

#btnDispose{
	background-color: red;	
}

#linkFormEdit div{
	border: 1px solid black;
}

#commitbtn{
	float: right;
}

#deleteCategory{
	margin: 7% 0% 0% 5%;
}

#deleteRule{
	margin: 7% 0% 0% 5%;
}

#linkForm div input{
	width: 80%;
}
.modal {
  height: 60%;

  .modal-body {
    height: 80%;
    overflow-y: auto;
  }
}

#myModal{
	background-color: #b34444;
}

#myModal button{
	float: right;
	margin-right: 7%;
}

#modebody{
	background-color: white;
}